.btn-close {
  background-color: red !important;
  color: white !important;
}

.btn-add {
  background-color: #303f9f !important;
  color: white !important;
}

.btn-close:hover {
  background-color: red !important;
}
.btn-add:hover {
  background-color: #303f9f !important;
}
